# Configuración de la base de datos
spring.jpa.hibernate.ddl-auto=create-drop
spring.datasource.url= jdbc:mysql://localhost:3306/tu_base_datos?useSSL=false&serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true
spring.datasource.username=tu_usuario
spring.datasource.password=tu_contraseña
spring.jpa.database-platform=org.hibernate.dialect.MySQL8Dialect

# Configuración de spring mail, asi poder enviar un mail para recuperar la password
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=tu_correo_desde_donde_envies
spring.mail.password=contraseña_del_correo
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
