<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="/css/forgotPassword.css">
</head>

<body>
    <div class="formulario">
        <form th:action="@{/forgot-password}" method="post">
            <h1>Restablecer Contraseña</h1>

            <!-- Mostrar errores generales -->
            <div th:if="${error}" class="error">
                <p th:text="${error}"></p>
            </div>

            <!-- Campo para el correo electrónico -->
            <div class="username">
                <input type="email" id="email" name="email" placeholder="Correo electrónico" required>
            </div>

            <button type="submit">Enviar Enlace</button>
            <div class="registrarse">
                <a th:href="@{/register/login}">Volver al inicio</a>
            </div>
        </form>

        <!-- Mensaje de error si no se encuentra el usuario -->
        <div th:if="${param.error}" class="error show">
            <p>El correo electrónico proporcionado no está registrado en nuestro sistema.</p>
        </div>
    </div>

    <!-- Agregar el archivo JS -->
    <script src="/js/forgotPassword.js"></script>
</body>

</html>