<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" href="/src/main/resources/static/icon/icon1.png" type="image/x-icon">
</head>

<body>
    <div th:if="${param.error}" class="error-modal">
        <div class="error-content">
            <p>Credenciales incorrectas. Intenta de nuevo.</p>
            <button onclick="closeErrorModal()">Cerrar</button>
        </div>
    </div>

    <div class="formulario">

        <h1>Inicio de sesión</h1>
        <form th:action="@{/login}" method="post" onsubmit="return validateForm()" novalidate>

            <div class="username">
                <input type="text" id="username" name="username" placeholder="Correo electrónico o nombre de usuario" required>
            </div>
            <div class="username">
                <input type="password" id="password" name="password" placeholder="Contraseña" required>
            </div>
            <div class="error-message" id="error-message" style="display: none; color: red; margin-bottom: 10px;"></div>
            <div class="recordar">
                <a th:href="@{/forgot-password}">¿Olvidaste tu contraseña?</a>
            </div>
            <button type="submit">Iniciar Sesión</button>
            <div class="registrarse">
                No tienes cuenta? <a th:href="@{/register}">Regístrate aquí.</a>
            </div>
        </form>
    </div>

    <script>
        // JavaScript para validar el formulario
        function validateForm() {
            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;
            let errorMessage = document.getElementById("error-message");

            if (!username || !password) {
                errorMessage.textContent = "Por favor, complete todos los campos.";
                errorMessage.style.display = "block"; // Mostrar mensaje de error
                return false; // Evita que el formulario se envíe si hay campos vacíos
            }

            errorMessage.style.display = "none"; // Ocultar mensaje de error si todo está correcto
            return true; // Permite que el formulario se envíe
        }

        // Función para cerrar la ventana modal de error
        function closeErrorModal() {
            let errorModal = document.querySelector('.error-modal');
            if (errorModal) {
                errorModal.style.display = 'none';
            }
        }
    </script>
</body>

</html>