<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar contraseña</title>
    <link rel="stylesheet" href="/css/resetPassword.css">
</head>

<body>
    <!-- Ventana de éxito -->
    <div th:if="${param.success}" class="success-modal">
        <div class="success-content">
            <p>La contraseña se ha cambiado exitosamente.</p>
            <button onclick="closeSuccessModal()">Cerrar</button>
        </div>
    </div>

    <form th:action="@{/savePassword}" method="post">
        <h1>Cambiar Contraseña</h1>
        <!-- El token es pasado en un campo oculto -->
        <input type="hidden" name="token" th:value="${token}">

        <label for="password">Nueva Contraseña:</label>
        <input type="password" name="password" required>

        <button type="submit">Cambiar Contraseña</button>
    </form>

    <script>
        function closeSuccessModal() {
            document.querySelector('.success-modal').style.display = 'none';
        }
    </script>
</body>

</html>